@import "../../vendor/filament/filament/resources/css/app.css";

* {
    font-family: "Nunito", sans-serif;
}

.oa-attendance-clock-widget {
    .filament-tables-container {
        > .filament-tables-table-container
            > table.filament-tables-table
            > thead {
            display: none;
        }
        > .filament-tables-pagination-container {
            display: none;
        }
    }
    .oa-attendance-clock-btn-wrap {
        flex: auto;
        justify-content: center;
        padding: 2.38rem 2rem;
        .oa-attendance-clock-btn {
            flex-direction: column;
            padding: 2rem 3rem;
            text-transform: uppercase;
            .filament-button-icon {
                margin: 0.25rem 0;
                width: auto;
                height: 6rem;
            }
        }
    }
}

.login {
    align-self: center;
}

.login .filament-forms-text-input-component input {
    @apply rounded-3xl;
}

.login .filament-button {
    @apply rounded-full bg-themePrimary hover:bg-themePrimaryDark relative right-[25px] min-w-[30%];
}

#email {
    @apply w-full p-[15px];
}

.password {
    @apply transition duration-75 rounded-lg  disabled:opacity-70 max-w-full;
}

.login .filament-forms-text-input-component {
    @apply contents;
}

#password {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    @apply min-w-[77%] bg-white p-[15px];
}

.password input:focus {
    @apply bg-white shadow-none;
}

#email input:focus {
    @apply bg-white shadow-none;
}

.login-button span {
    @apply px-[9px];
}

#password:focus {
    @apply bg-white shadow-none;
}

#email:focus {
    @apply bg-white shadow-none;
}

.filament-sidebar-nav {
    @apply bg-themePrimary  dark:bg-gray-800 dark:border-gray-700 dark:from-gray-800 dark:to-gray-800;
}

.filament-sidebar-nav .border-t {
    @apply border-themePrimary;
}

.filament-sidebar-item {
    @apply text-white;
}

.filament-sidebar-item .inline-flex {
    @apply text-primary-50 bg-primary-700 dark:bg-gray-900 dark:text-white;
}

.filament-sidebar-group svg {
    @apply text-white;
}

.tracking-wider {
    @apply text-sm text-themePrimary;
}

.filament-brand {
    @apply text-themePrimary;
}

.dashboard-nav {
    @apply bg-themePrimaryDark rounded-r-full py-2 border-themePrimaryLight_2 border border-l-0
}

.active-nav{
    @apply bg-themePrimaryDark rounded-r-full border-themePrimaryLight_2 border border-l-0
}

.filament-button{
    @apply bg-themePrimary text-white
}

.filament-button:hover{
    background-color: #007C56 !important;
    color: white !important;
    @apply bg-themePrimaryDark text-white
}

.filament-button:active{
    @apply bg-themePrimaryDark text-white
}

.filament-button:focus{
    background-color: #007C56 !important;
    outline: 0 !important;
    box-shadow: none !important;
    color: white !important;
    @apply bg-themePrimaryDark ring-offset-0 ring-0 text-white
}
