@import "../../vendor/filament/filament/resources/css/app.css";

* {
    font-family: "Nunito", sans-serif;
}

.oa-attendance-clock-widget {
    .filament-tables-container {
        > .filament-tables-table-container
            > table.filament-tables-table
            > thead {
            display: none;
        }
        > .filament-tables-pagination-container {
            display: none;
        }
    }
    .oa-attendance-clock-btn-wrap {
        flex: auto;
        justify-content: center;
        padding: 2.38rem 2rem;
        .oa-attendance-clock-btn {
            flex-direction: column;
            padding: 2rem 3rem;
            text-transform: uppercase;
            .filament-button-icon {
                margin: 0.25rem 0;
                width: auto;
                height: 6rem;
            }
        }
    }
}

.cp-topbar {
    background-color: #f1f1f1 !important;
}

.cp-topbar-main {
    width: 75vw !important;
    float: right;
    box-sizing: border-box;
    flex-grow: calc(75vw - 20px);
}
@media (min-width:1024px) and (max-width:1840px){
    .cp-topbar-main {
        width: 70vw !important;
        float: right;
        box-sizing: border-box;
    }
}
.login {
    align-self: center;
}

.login .filament-forms-text-input-component input {
    @apply rounded-3xl;
}

.login .filament-button {
    @apply rounded-full bg-themePrimary hover:bg-themePrimaryDark relative right-[25px] min-w-[30%];
}

#email {
    @apply w-full p-[15px];
}

.password {
    @apply transition duration-75 rounded-lg  disabled:opacity-70 max-w-full;
}

.login .filament-forms-text-input-component {
    @apply contents;
}

#password {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    @apply min-w-[77%] bg-white p-[15px];
}

.password input:focus {
    @apply bg-white shadow-none;
}

#email input:focus {
    @apply bg-white shadow-none;
}

.login-button span {
    @apply px-[9px];
}

#password:focus {
    @apply bg-white shadow-none;
}

#email:focus {
    @apply bg-white shadow-none;
}
