@import "../../vendor/filament/filament/resources/css/app.css";

.oa-attendance-clock-widget {
    .filament-tables-container {
        > .filament-tables-table-container
            > table.filament-tables-table
            > thead {
            display: none;
        }
        > .filament-tables-pagination-container {
            display: none;
        }
    }
    .oa-attendance-clock-btn-wrap {
        flex: auto;
        justify-content: center;
        padding: 2.38rem 2rem;
        .oa-attendance-clock-btn {
            flex-direction: column;
            padding: 2rem 3rem;
            text-transform: uppercase;
            .filament-button-icon {
                margin: 0.25rem 0;
                width: auto;
                height: 6rem;
            }
        }
    }
}
