@import "../../vendor/filament/filament/resources/css/app.css";
@import "components/radial-rating-display-field.scss";

.filament-forms-range-component::-webkit-slider-thumb {
    background: var(--color-primary-300);
    border-color: var(--color-primary-400);
}
.filament-forms-range-component::-moz-range-thumb {
    background: var(--color-primary-300);
    border-color: var(--color-primary-400);
}
.filament-forms-range-component:focus::-webkit-slider-thumb {
    background: var(--color-primary-500);
    border-color: var(--color-primary-300);
}
.filament-forms-range-component:focus::-moz-range-thumb {
    background: var(--color-primary-500);
    border-color: var(--color-primary-300);
}
.floating-preview {
    transform: scale(0.75);
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    &:hover {
        opacity: 1;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    }
}
